body{
				font-family: Courier;
				background-color: #000000;
				color:#00ff00;
			}
			canvas{
				position: absolute;
				z-index: -1;
				margin-top: -20px;
				margin-left: -5px;
			}
			.containers{
				width: 100%;
				height:auto;
				text-align: center;
			}
			.containerMargin{
				margin-top: 20px;
			}
			.box{
				display: inline-block;
				padding: 20px;
				background-color: #000000;
				border: solid 3px #00ff00;
			}

			.siteTitle{	
				font-size: 56px;
			}
			.articleContainer{
				width: 600px;
				height: 250px;
				display: none;

			}

			.arrowBox{
				display: inline-block;
				background-color: #00ff00;
				width: 295px;
				height: auto;
				color: #000000;
				font-size: 40px;
				font-weight: bolder;
				border: solid 1px #00ff00;

			}
			.articleTitleText{
				font-size: 28px;
				font-weight: bold;
				text-align: left;
			}	

			.borderTitleBox{
				border-bottom: solid 2px #00ff00; 
			}
			
			.articleBodyText{
				text-align: left;
				font-size: 14px;
			}
			.articleLinkText{
				text-align: left;
				font-size: 14px;

			}

			.commentBox{
				overflow:auto;
				height:75px;
				display: inline-block;
				
			}

			.commentMargin{
				margin-top:10px;
			}

			.commentTitleBoxWidth{
				width: 200px;
			}

			.commentTextBoxWidth{
				width: 370px;
				border-left: solid 2px #00ff00;
				padding-left: 15px;
			}

			.commentContainer{
				width: 600px;
				height: 100px;
			}
			.addCommentContainer{
				width: 600px;
				height: 120px;
			}

			.commentHeaderText{
				font-size: 24px;
				font-weight: bold;
				text-align: left;
			}

			.commentTitleText{
				text-align: left;
				font-size: 12px;
				margin-right: 5px;
			
			}

			.commentText{
				font-size: 12px;
				text-align: left;
				display: none;
			}

			.deleteComment{
				color: #ff0000;
			}
			.inlineLeft{
				display: inline-block;
				float: left;
				width: 85%;

			}
			.inlineRight{
				display: inline-block;
				float: right;
				padding-right: 10px;

			}
			.commentLine{
				clear: both;
			}
			.addingComments{
				text-align: left;
				font-size: 12px;
			}
			.addCommentBox{
				margin-top: 10px;
			}
			.submitComments{
				margin-top: 15px;
				text-align: center;

			}
			.submitButton{
				color: #00ff00;
				background-color: #000000;
				border: solid 1px #00ff00;
				font-size: 16px;
				padding: 6px;
				font-weight: bold;
				outline: none;

			}
			.commentTextbox{
				margin-top: 5px;
				background-color: #000000;
				outline: none;
				border: none;
				border-bottom: solid 1px #00ff00;
				color: #00ff00;
				width: 300px;

			}


			/* Scrollbar styles */
			.commentBox::-webkit-scrollbar {
				width: 12px;
				height: 12px;
			}

			.commentBox::-webkit-scrollbar-track {
			border: 1px solid #00ff00;

			}

			.commentBox::-webkit-scrollbar-thumb {
			background: #00ff00;  

			}

			.commentBox::-webkit-scrollbar-thumb:hover {
			background: #0000ff;  
			}


			/*Hover styles */
			.commentTitleText:hover{
				color: #000000;
				background-color: #00ff00;

			}
			.submitButton:hover{
				color: #000000;
				background-color: #00ff00;
				border: solid 1px #00ff00;
			}

			.arrowBox:hover{
				background-color: #000000;
				color: #00ff00;
				cursor: pointer;
			}
			.deleteComment:hover{
				color: #0000ff;
				cursor: pointer;

			}

			/* No Selectable text*/
			.noselect {
				-webkit-touch-callout: none; /* iOS Safari */
				-webkit-user-select: none; /* Chrome/Safari/Opera */
				-khtml-user-select: none; /* Konqueror */
				-moz-user-select: none; /* Firefox */
				-ms-user-select: none; /* Internet Explorer/Edge */
				user-select: none; /* Non-prefixed version, currently

			}